@import "globals";
@import "mixins";
@import "fonts";
@import "rain";

body {
  font-family: Roboto, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;

  .container {
    position: relative;
    background: url(../images/mountain.webp) center/cover no-repeat;
    min-height: 100vh;
    @include center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      filter: blur(4px);
      z-index: 0;
    }
  }

  .phone {
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: calc(100vh - 20px);
    max-width: 30em;
    width: 100%;
    background: $c-accent;
    border-radius: 10px;

    .taskbar {
      position: relative;
      z-index: 5;
      padding: 2% 2%;
      height: 2rem;
      color: #fff;
      background: $c-accent-dark;
      border-radius: 10px 10px 0 0;
      @include flex(space-between);
    }

    .weather-app {
      color: $c-text;
      @include flex(space-between, column);
      height: calc(100% - 2rem);
      position: relative;

      &.day {
        background: url(../images/day.jpg);
      }
      &.night {
        background: url(../images/night.jpg);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
      }

      .top {
        background: #fff;
        margin: 1rem;
        margin-top: 2rem;
        border-radius: 10px;
        padding: 1rem;
        @include glassmorph;

        .temp {
          @include flex;
          font-size: 2.8rem;
          align-items: center;
          gap: 0.8rem;

          img {
            height: 5rem;
          }

          .units {
            @include flex;
            gap: 5px;

            .divider {
              width: 1.5px;
              height: 25px;
              background: $c-text;
            }

            button {
              background: none;
              border: none;
              color: $c-inactive-text;
              cursor: pointer;
              outline: none;

              &.active {
                color: $c-text;
              }
            }
          }

          .details {
            font-size: 0.8rem;
            color: $c-inactive-text;
          }
        }

        .desc {
          text-align: center;
        }
      }
    }
  }
}
