* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}
.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.single-toggle .drop {
  display: none;
}

.single-toggle .drop:nth-child(10) {
  display: block;
}

body {
  font-family: Roboto, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .container {
  position: relative;
  background: url(../images/mountain.webp) center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(4px);
  z-index: 0;
}
body .phone {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: calc(100vh - 20px);
  max-width: 30em;
  width: 100%;
  background: #312f60;
  border-radius: 10px;
}
body .phone .taskbar {
  position: relative;
  z-index: 5;
  padding: 2% 2%;
  height: 2rem;
  color: #fff;
  background: #010314;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
body .phone .weather-app {
  color: #fdf0fa;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: calc(100% - 2rem);
  position: relative;
}
body .phone .weather-app.day {
  background: url(../images/day.jpg);
}
body .phone .weather-app.night {
  background: url(../images/night.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
body .phone .weather-app .top {
  background: #fff;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body .phone .weather-app .top .temp {
  display: flex;
  justify-content: center;
  flex-flow: row;
  font-size: 2.8rem;
  align-items: center;
  gap: 0.8rem;
}
body .phone .weather-app .top .temp img {
  height: 5rem;
}
body .phone .weather-app .top .temp .units {
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 5px;
}
body .phone .weather-app .top .temp .units .divider {
  width: 1.5px;
  height: 25px;
  background: #fdf0fa;
}
body .phone .weather-app .top .temp .units button {
  background: none;
  border: none;
  color: rgb(177, 174, 174);
  cursor: pointer;
  outline: none;
}
body .phone .weather-app .top .temp .units button.active {
  color: #fdf0fa;
}
body .phone .weather-app .top .temp .details {
  font-size: 0.8rem;
  color: rgb(177, 174, 174);
}
body .phone .weather-app .top .desc {
  text-align: center;
}/*# sourceMappingURL=style.css.map */